In [1]:
#Series
import numpy as np
import pandas as pd

In [2]:
myindex=['USA','Canada','Mexico']
mydata=[1776,1867,1821]

In [3]:
myser=pd.Series(data=mydata)

In [5]:
type(myser)

pandas.core.series.Series

In [6]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [8]:
myser=pd.Series(data=mydata,index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
#creating series from dict
ages={'anu':29,'isha':3}
pd.Series(ages)

anu     29
isha     3
dtype: int64

In [10]:
#some imaginary sales data
q1={'japan':80,'china':450,'india':200}
q2={'brazil':100,'china':500,'india':210}

In [11]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [12]:
sales_q1

japan     80
china    450
india    200
dtype: int64

In [13]:
sales_q2

brazil    100
china     500
india     210
dtype: int64

In [14]:
sales_q1.keys() #to find the keys

Index(['japan', 'china', 'india'], dtype='object')

In [15]:
sales_q1+sales_q2
#doesnt know to handle when labels not present in tboth the series.
#Hence let us look at add

brazil      NaN
china     950.0
india     410.0
japan       NaN
dtype: float64

In [16]:
sales_q1.add(sales_q2,fill_value=0)

brazil    100.0
china     950.0
india     410.0
japan      80.0
dtype: float64